body {background: none repeat scroll 0 0 #DDDDDD;}
body * {font-weight: lighter !important;}
p { display: block; margin: 1em 0; }
h1, h2, h3, h4 { margin: 0.86em 0; }
ul {list-style: none;}
.page {padding-bottom:50px;}
.header-container { margin-bottom: 20px; padding: 10px; }
.nav-container { margin: 20px 0; }
#products-list {padding-bottom: 20px;}
.page-footer {position: fixed !important; bottom:0;z-index:999999; left:0; width:100%}
.footer-container {float: left; text-align: center; padding-bottom: 80px; padding-top: 20px; width: 100%; }
.toolbar-bottom { float: left; width: 100%; padding-bottom: 15px; }
.product-view {padding: 10px;}
/*div.add-to-cart label, div.add-to-cart input {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
  width: 4em;
  line-height: 4em;
  font-size: 2em
}*/
//input.qty[type="text"] {width: 30px;}


.data-table { text-align: left; }
.add-to-box {float: left; width: 100%;}
.add-to-links {float: left; margin: 0.5em 0;}
.add-to-links li {float: left; padding: 0 5px;}
div.add-to-cart {margin: 1em 0; float: left;}
div.product-view div.add-to-cart {margin: 1em 0; float:none;}
div.product-view .add-to-links {margin: 1em 0; float:none;}
.account-login, .account-create, .forgotpass, .dashboard, .main-content-padding, .my-wishlist {padding: 0 10px;}
.box-account .box-title {float: left; width: 100%;}
.box-account .box-title h3, .box-account .box-title h2 {float: left;}
.box-account .box-title a {float: right;}
.box-account .box-content.ui-grid-a {float: left; width: 100%;}
.col-1, .col-2 { margin: 10px 0;}
.product-essential .product-image img { width: 100% !important;}
.box-up-sell {margin-top: 15px !important;}
.cart, ul#checkoutSteps {padding: 10px;}
ul#checkoutSteps .active {padding-left: 0px; padding-right: 0;}
ul#checkoutSteps .active .step-title {padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}
ul#checkoutSteps .active .step {padding: 0 15px;}
.data-table td, .data-table th { padding: 5px 1px; white-space: normal; font-size: 12px; vertical-align: top;}
#wishlist-table.data-table td, #wishlist-table.data-table th {border-bottom: 1px solid #CCCCCC; display: table-cell; vertical-align: middle;}
.success-msg {color: green;}
.error-msg {color: red;}
.notice-msg {color: red;}
.validation-advice {color: red;}

/* Rating */
.no-rating { margin:0; }

.ratings { line-height:1.25; margin:7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.ratings .rating-links { margin:0; }
.ratings .rating-links .separator { margin:0 2px; }
.ratings dt {}
.ratings dd {}
.rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.gif) 0 100% repeat-x; }
.ratings .rating-box { float:left; margin-right:3px; }
.ratings .amount {}

.ratings-table th,
.ratings-table td { line-height:1.15; padding:3px 0; }
.ratings-table th { font-weight:bold; padding-right:8px; }

/* Cart */
/*.item #delete_icon {position: absolute; }*/
#product-in-cart .ui-block-b {width: 10%; height: 100%}
#product-in-cart .ui-block-c {width: 5%; margin-left: auto; margin-right: auto; height: 100%}
#product-in-cart .ui-block-a {width: 85%; height: 100%}
#product-in-cart .ui-block-a img, #product-in-cart .ui-block-a h3, #product-in-cart .ui-block-a span {display: inline-block; vertical-align: middle;}
#product-in-cart .ui-block-b .ui-input-text, #product-in-cart .ui-block-c a {vertical-align: middle; display: inline-block}

/* jd cart css */
.row{position:relative;}
.row:after{display:block;content:"";width:10px;height:10px;position:absolute;top:50%;border-width:4px 4px 0 0;right:0;margin-top:-10px;margin-right:10px;-webkit-transform:rotate(45deg);}
.goods-info{overflow:hidden;position:relative;}
.cart-checkbox{display:block;border:1px solid #a7a7a7;-webkit-border-radius:12px;width:20px;height:20px;position:absolute;top:40px;left:10px;margin-top:-10px;}
.cart-checkbox.checked{background:#c52023;border-color:#c52023;}
.cart-checkbox.checked:after{display:block;margin-left:3px;margin-top:5px;content:"";width:11px;height:4px;border:solid #fff;border-width:2px 2px 0 0;-webkit-transform:rotate(135deg);}
.list .photo{display:block;width:82px;height:82px;margin:0 10px 0 40px;float:left;display:block;}
.list .pay-info{margin-top:10px;}
.list .price{color:#e64547;}
.list .row .amount{width:50px;height:24px;margin-right:20px;}
.list .row .amount:before{display:block;content:"x";color:#9f9f9f;}
.list .del{display:inline-block;width:15px;height:20px;background:url(images/del.png) no-repeat;background-size:100% 100%; margin-right: 5px; float:right}
ul.list {-webkit-padding-end: 0px; -webkit-padding-start: 0px;}
.list li{overflow:hidden;padding:16px 10px;border-bottom:1px solid #c8c7cc;}

.nav-container .active {
    border: 1px solid 		#145072 /*{b-bup-border}*/ !important;
    background: 			#2567ab /*{b-bup-background-color}*/ !important;
    font-weight: bold !important;
    color: 					#fff /*{b-bup-color}*/ !important;
    text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/ !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* IE10 */
    background-image:      -o-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
}
.nav-container .active a.ui-link-inherit {
    color: 					#fff /*{b-bup-color}*/ !important;
}
.product-name-cart {width: 50%; overflow: hidden;}
#product-attribute-specs-table td, #product-attribute-specs-table th {font-size: 100%;}
.ui-listview > li > a.ui-icon-delete {
    position: absolute; right: 0; top: 10%; bottom: 10%; width: 10px; z-index: 99998; background-color:none; border: none;
}

button.ui-btn-hidden { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-appearance: none; cursor: pointer; background: #fff; background: rgba(0,255,0,0); filter: Alpha(Opacity=0); opacity: .1; font-size: 1px; border: none; text-indent: -9999px; }

/*page title*/
.page .page-title {background-color: #59a636/*#f0fbe7*/;}
.page .page-title h1 {color: white; text-shadow: none}
.page .page-title .page-title-back {position:absolute;top:6px;left:12px;width:37px;height:30px;}
.page .page-title .page-title-back span {display:inline-block;width:10px;height:18px;margin-top:6px;background:url(images/navbar_icon.png) -60px 0 no-repeat;background-size:180px 180px;text-indent:-9999px;}

/* page footer */
.ui-navbar .ui-block-a {background-color: #f0fbe7; color: black;}
.ui-navbar .ui-link {background-color: #f0fbe7;}
.product-view-page-footer .ui-grid-a {text-align: center; background-color: #f0fbe7}
.product-view-page-footer .ui-block-a, .product-view-page-footer .ui-block-b {display: inline-block}
.product-view-page-footer .ui-grid-a .ui-btn {
    font-size: 16px;
    padding: .7em 1em;
    text-align: center;
}

/*Search bar*/
.inline-form .wrapper {
    float: left;
    width: 100%;
}
.inline-form .wrapper .content {
    margin: 0 25px 0 5px;  /* 0 RC 0 LC */
}
.inline-form .text {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: block;
    font-size: 16px;
}
.inline-form .right {
    float: left;
    width: 20px; /* RC */
    margin-left: -22px; /* -RC */
    padding-top: 2px;
    padding-bottom: 2px;
}
.inline-form .footer{
    clear: left;
}

/* product qty widget */
#qty_wrapper .ui-btn {line-height: 0.5; padding-left: 0.1; padding-right: 0.1; display: inline-block}
#qty_wrapper {text-align: center !important;}
#qty_wrapper .ui-block-b, #qty_wrapper .ui-block-d {height: 50px;vertical-align: middle !important; display: inline-block !important; width: 50px;}

#qty_wrapper .ui-block-c {height: 50px;vertical-align: middle !important; display: inline-block !important; width: 5em; }
#qty_wrapper .ui-block-a {height: 50px;line-height: 50px; vertical-align: middle !important; display: inline-block !important; width: auto; }


/*Cart*/
.cart-collaterals ul, .edit-account ul, .edit-address ul {-webkit-padding-end: 16px; -webkit-padding-start: 16px;}

.main-slide ul {-webkit-padding-end: 0px; -webkit-padding-start: 0px;}

/* general buttons */
.important-button {
    background-color: #be0007 !important;
    color: #ffefe3 !important;
    font-weight: lighter !important;
    text-shadow: none !important;
}
.interesting-button {
    background-color: #59a636 !important;
    color: #ecffd7 !important;
    font-weight: lighter !important;
    text-shadow: none !important;
}

.addresses-list li{background: #e9e9e9;}

/* for all icons */
.ui-icon-back {background-color: #59a636 !important;}
.ui-icon-grid:after, .ui-icon-star:after, .ui-icon-home:after, .ui-icon-heart:after, .ui-icon-gear:after, .ui-icon-search:after {background-color: #ec5b67 !important;}

/*wishlist*/
.cart-cell .del{display:inline-block;width:15px;height:20px;background:url(images/del.png) no-repeat;background-size:100% 100%; margin-right: 5px; float:right}
.cart-cell .qty {width:50px;height:24px;margin-right:20px;}

/* header nav bar */
.header-nav-bar {border-bottom:1px solid #d0cece;background-color:#fff}
.navbar-tbl-type{display:table;width:100%}
.header-nav-bar .navbar-tbl-cell{width:25%;padding:9px 0;font-size:12px;color:#fff;text-align:center;display:table-cell}
.header-nav-bar .navbar-tbl-cell span{vertical-align:text-top}
.header-nav-bar .navbar-tbl-cell .icon,.header-nav-bar .navbar-tbl-cell .icon2,.header-nav-bar .navbar-tbl-cell .icon3,.header-nav-bar .navbar-tbl-cell .icon4{display:inline-block;width:22px;height:22px;background:url(images/navbar_icon.png) -60px -25px no-repeat;background-size:180px 180px;text-indent:-9999px}
.header-nav-bar .navbar-tbl-cell .icon2{width:26px;background-position:0 -25px}
.header-nav-bar .navbar-tbl-cell .icon3{width:25px;background-position:-29px -25px}
.header-nav-bar .navbar-tbl-cell .icon4{width:22px;background-position:-85px -25px}
.navbar_key {position:absolute;top:6px;right:12px;width:37px;height:30px;}
.navbar_key span {display:inline-block;width:21px;height:21px;margin:5px 0 0 13px;background:url(images/navbar_icon.png) -125px -24px no-repeat;background-size:180px 180px;text-indent:-9999px;}

/*homepage table layout*/
.ad-h2{font-size:1.14em;color:#333;text-align:center;border-top:1px solid #e5e5e5;background:#f1f1f5;padding:1.42em 0 .5em}
.ad2-big-img{padding:10px;text-align:center}
.tbl-type{display:table;width:100%}
.tbl-cell{display:table-cell;vertical-align:top;text-align:center}
.main img{vertical-align:top}
.half-img{width:100%;height:auto!important;overflow:hidden}
.full-img{width:100%;height:auto!important}
ad1 a,.ad2 a{display:block;text-align:center}
.ad-border{border-bottom:1px solid #e5e5e5}
.ad-border2{border-bottom:2px solid #fff}
.ad1-left{border-left:1px solid #e5e5e5}
.ad1-right{border-right:1px solid #e5e5e5}