body {background: none repeat scroll 0 0 #DDDDDD;}
p { display: block; margin: 1em 0; }
h1, h2, h3, h4 { margin: 0.86em 0; }
ul {list-style: none;}
.page {padding-bottom:50px;}
.header-container { margin-bottom: 20px; padding: 10px; }
.nav-container { margin: 20px 0; }
#products-list {padding-bottom: 20px;}
.page-footer {position: fixed !important; bottom:0;z-index:999999; left:0; width:100%}
.footer-container {float: left; text-align: center; padding-bottom: 80px; padding-top: 20px; width: 100%; }
.toolbar-bottom { float: left; width: 100%; padding-bottom: 15px; }
.product-view {padding: 10px;}
/*div.add-to-cart label, div.add-to-cart input {
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
  width: 4em;
  line-height: 4em;
  font-size: 2em
}*/
//input.qty[type="text"] {width: 30px;}


.data-table { text-align: left; }
.add-to-box {float: left; width: 100%;}
.add-to-links {float: left; margin: 0.5em 0;}
.add-to-links li {float: left; padding: 0 5px;}
div.add-to-cart {margin: 1em 0; float: left;}
div.product-view div.add-to-cart {margin: 1em 0; float:none;}
div.product-view .add-to-links {margin: 1em 0; float:none;}
.account-login, .account-create, .forgotpass, .dashboard, .main-content-padding, .my-wishlist {padding: 0 10px;}
.box-account .box-title {float: left; width: 100%;}
.box-account .box-title h3, .box-account .box-title h2 {float: left;}
.box-account .box-title a {float: right;}
.box-account .box-content.ui-grid-a {float: left; width: 100%;}
.col-1, .col-2 { margin: 10px 0;}
.product-essential .product-image img { width: 100% !important;}
.box-up-sell {margin-top: 15px !important;}
.cart, ul#checkoutSteps {padding: 10px;}
ul#checkoutSteps .active {padding-left: 0px; padding-right: 0;}
ul#checkoutSteps .active .step-title {padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}
ul#checkoutSteps .active .step {padding: 0 15px;}
.data-table td, .data-table th { padding: 5px 1px; white-space: normal; font-size: 12px; vertical-align: top;}
#wishlist-table.data-table td, #wishlist-table.data-table th {border-bottom: 1px solid #CCCCCC; display: table-cell; vertical-align: middle;}
.success-msg {color: green;}
.error-msg {color: red;}
.notice-msg {color: red;}
.validation-advice {color: red;}

/* Rating */
.no-rating { margin:0; }

.ratings { line-height:1.25; margin:7px 0; }
.ratings strong { float:left; margin:1px 3px 0 0; }
.ratings .rating-links { margin:0; }
.ratings .rating-links .separator { margin:0 2px; }
.ratings dt {}
.ratings dd {}
.rating-box { width:69px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 0 repeat-x; text-indent:-999em; overflow:hidden; }
.rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.gif) 0 100% repeat-x; }
.ratings .rating-box { float:left; margin-right:3px; }
.ratings .amount {}

.ratings-table th,
.ratings-table td { line-height:1.15; padding:3px 0; }
.ratings-table th { font-weight:bold; padding-right:8px; }

/*.item .product-image {width: 100%}
.cart-qty {position: absolute; right: 160px; top: 10%; bottom: 10%; z-index: 99999}
.item #delete_icon {position: absolute; right: 0; top: 10%; bottom: 10%; width: 40px; z-index: 99998; background-color:none; border: none;}
*/
.item #delete_icon {position: absolute; }
li.item .ui-block-b {width: 10%;}
li.item .ui-block-c {width: 5%; margin-left: auto; margin-right: auto;}
li.item .ui-block-a {width: 85%; }
li.item .ui-block-a img, li.item .ui-block-a h3, li.item .ui-block-a span {display: inline;}

.nav-container .active {
	border: 1px solid 		#145072 /*{b-bup-border}*/ !important;
	background: 			#2567ab /*{b-bup-background-color}*/ !important;
	font-weight: bold !important;
	color: 					#fff /*{b-bup-color}*/ !important;
	text-shadow: 0 /*{b-bup-shadow-x}*/ -1px /*{b-bup-shadow-y}*/ 1px /*{b-bup-shadow-radius}*/ #145072 /*{b-bup-shadow-color}*/ !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5f9cc5 /*{b-bup-background-start}*/), to( #396b9e /*{b-bup-background-end}*/)) !important; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* IE10 */
	background-image:      -o-linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important; /* Opera 11.10+ */
	background-image:         linear-gradient(#5f9cc5 /*{b-bup-background-start}*/, #396b9e /*{b-bup-background-end}*/) !important;
}
.nav-container .active a.ui-link-inherit {
	color: 					#fff /*{b-bup-color}*/ !important;
}
.product-name-cart {width: 50%; overflow: hidden;}
#product-attribute-specs-table td, #product-attribute-specs-table th {font-size: 100%;}
.ui-listview > li > a.ui-icon-delete {
    position: absolute; right: 0; top: 10%; bottom: 10%; width: 10px; z-index: 99998; background-color:none; border: none;
}

button.ui-btn-hidden { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-appearance: none; cursor: pointer; background: #fff; background: rgba(0,255,0,0); filter: Alpha(Opacity=0); opacity: .1; font-size: 1px; border: none; text-indent: -9999px; }

.page .page-title {background-color: #f0fbe7;}


/*.dashboard .col2-set .col-1 {background-color: #DDDDDD; color: #DDDDDD; border-color: #DDDDDD}
.dashboard .col2-set .col-1 h3 {color: black;}
.dashboard .col2-set .col-1 p {color: black;}*/

.ui-navbar .ui-block-a {background-color: #f0fbe7; color: black;}
.ui-navbar .ui-link {background-color: #f0fbe7;}

/*Search bar*/
.inline-form .wrapper {
  float: left;
  width: 100%;
}
.inline-form .wrapper .content {
  margin: 0 25px 0 5px;  /* 0 RC 0 LC */
}
.inline-form .text {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: block;
  font-size: 16px;
}
.inline-form .right {
  float: left;
  width: 20px; /* RC */
  margin-left: -22px; /* -RC */
  padding-top: 2px;
  padding-bottom: 2px;
}
.inline-form .footer{
  clear: left;
}


#qty_wrapper .ui-block-b, #qty_wrapper .ui-block-d {width: 50px; height: 40px; margin-top: 5px; margin-bottom: 5px}
#qty_wrapper .ui-block-c {width: 5em; margin-top: 5px; margin-bottom: 5px}
#qty_wrapper .ui-block-a {width: auto; margin-top: 5px; margin-bottom: 5px}

/*Cart*/
.cart-collaterals ul, .edit-account ul, .edit-address ul {-webkit-padding-end: 16px; -webkit-padding-start: 16px;}

.main-slide ul {-webkit-padding-end: 0px; -webkit-padding-start: 0px;}

.important-button {
    background-color: #be0007 !important;
    color: #ffefe3 !important;
    font-weight: lighter !important;
    text-shadow: none !important;
}
.interesting-button {
    background-color: #59a636 !important;
    color: #ecffd7 !important;
    font-weight: lighter !important;
    text-shadow: none !important;
}

.addresses-list li{background: #e9e9e9;}

.ui-icon-back {background-color: #59a636 !important;}
.ui-icon-grid:after, .ui-icon-star:after, .ui-icon-home:after, .ui-icon-heart:after, .ui-icon-gear:after {background-color: #ec5b67 !important;}